{% extends "base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script>

</script>
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxcf22dfc606b84851aa80fef36db0a258"></script>
<script type="text/javascript">

    AOS.init();
    var map;
    var markerInfo;
    //출발지,도착지 마커
    var marker, marker_e, marker_p, marker_on, marker_off;
    //경로그림정보
    let resultdrawArr = [];
    let pointArr = [];

    var latitude;
    var longitude;

    function initTmap() {
        // user의 출발 지점
        let initPoint;
        document.querySelector("#btn_select").addEventListener('click', (event) => {
            resultdrawArr = [];
            pointArr = [];
            
            pointArr.push(JSON.parse("{{ start|escapejs }}"));
            pointArr.push(JSON.parse("{{ onpoint|escapejs }}"));
            pointArr.push(JSON.parse("{{ offpoint|escapejs }}"));
            pointArr.push(JSON.parse("{{ end|escapejs }}"));

            createUserRoute(pointArr);

            map.setZoom(11);
            // 경로 리스트 지도 측면에 생성하기
        });
        // 지도 띄우기
        map = new Tmapv2.Map("map_div", {
            center: new Tmapv2.LatLng(37.39725123, 126.95650002),
            width: "500px",
            height: "400px",
            zoom: 15,
            zoomControl: true,
            scrollwheel: true,
            marginLeft: "100px"
        });
    }

    function createUserRoute(path){
        for (let i = 0; i < path.length; i++) {
                setMarker(path[i].lat, path[i].lon, i);
                if (i < path.length - 1) {
                    const option = getRoute(path[i], path[i + 1]);

                    if (i === 1) { //차
                        fetchRoute(option);
                    }
                    else { //보행자
                        fetchRoute(option, "/pedestrian");
                    }
                }
            }
    }
    // 경로API request 객체 반환
    function getRoute(start, end) {
        return {
            method: 'POST',
            headers: {
                accept: 'application/json',
                'content-type': 'application/json',
                appKey: 'l7xxcf22dfc606b84851aa80fef36db0a258'
            },
            body: JSON.stringify({
                startX: start.lon,
                startY: start.lat,
                endX: end.lon,
                endY: end.lat,
                startName: start.name,
                endName: end.name
            })

        }

    }
    // API request객체와 경로 type에 따라 지도에 경로 표시
    function fetchRoute(option, type = "") {
        let routeColor = "#ff0000";
        if (type) {
            routeColor = "#0008ff";
        }

        fetch('https://apis.openapi.sk.com/tmap/routes' + type + '?version=1&callback=function', option)
            .then(response => response.json())
            .then(response => {
                setLoute(response.features, routeColor);
            })
            .catch(err => console.error(err));
    }
    // 경로 그리기
    function drawLine(arrPoint, color) {
        var polyline_;

        polyline_ = new Tmapv2.Polyline({
            path: arrPoint,
            strokeColor: color,
            strokeWeight: 6,
            map: map
        });
        resultdrawArr.push(polyline_);
    }
    // 경로의 위도 경도
    function setLoute(resultData, color) {
        let drawInfoArr = [];

        for (var i in resultData) { //for문 [S]
            var geometry = resultData[i].geometry;
            var properties = resultData[i].properties;
            var polyline_;

            if (geometry.type == "LineString") {
                for (var j in geometry.coordinates) {
                    // 경로들의 결과값(구간)들을 포인트 객체로 변환 
                    var latlng = new Tmapv2.LatLng(
                        geometry.coordinates[j][1],
                        geometry.coordinates[j][0]);

                    drawInfoArr.push(latlng);
                }
            } else {
                var markerImg = "";
                var pType = "";
                var size;

                markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
                pType = "GP";
                size = new Tmapv2.Size(8, 8);

                // 경로들의 결과값들을 포인트 객체로 변환 
                var latlon = new Tmapv2.Point(
                    geometry.coordinates[0],
                    geometry.coordinates[1]);

                var routeInfoObj = {
                    markerImage: markerImg,
                    lng: latlon.x,
                    lat: latlon.y,
                    pointType: pType
                };
            }
        }
        drawLine(drawInfoArr, color);
    }

    function setMarker(lat, lon, icon) {
        marker = new Tmapv2.Marker(
            {
                position: new Tmapv2.LatLng(lat, lon),
                icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_" + icon + ".png",
                iconSize: new Tmapv2.Size(24, 38),
                map: map
            });
    }

</script>
</head>

<style>
    .map_wrap {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        background-color: #FAFAFA;
    }
</style>
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">

            <body onload="initTmap();">

                <div class="ft_area">
                    <div class="ft_select_wrap">
                        <div class="ft_select">
                            <select id="selectLevel">
                                <option value="0" selected="selected">교통최적+추천</option>
                                <option value="1">교통최적+무료우선</option>
                                <option value="2">교통최적+최소시간</option>
                                <option value="3">교통최적+초보</option>
                                <option value="4">교통최적+고속도로우선</option>
                                <option value="10">최단거리+유/무료</option>
                                <option value="12">이륜차도로우선</option>
                                <option value="19">교통최적+어린이보호구역 회피</option>
                            </select> <select id="year">
                                <option value="N" selected="selected">교통정보 표출 옵션</option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                            <button id="btn_select">적용하기</button>
                            <a id="userlink" href="/userRoute">User route</a>
                            <a href="/driverRoute">Driver route</a>
                        </div>
                    </div>
                </div>
            </body>
</section>

<div class="map_act_btn_wrap clear_box">
    <!-- 경로 리스트 -->
</div>
<div class="clear"></div>
</div>

<div id="map_wrap" class="map_wrap">
    <div id="map_div"></div>
</div>

{% for location in location_list %}
<span class="location_txt"> {{ location.altitude }} </span>
{% endfor %}

<div class="map_act_btn_wrap clear_box"></div>
<p id="result"></p>
<br />

{% include "footer.html" %}

{% endblock %}