{% extends "base.html" %}
{% load static %}

{% block scripts %}
{{ block.super }}
<script>

</script>
{% endblock %}

{% block body %}

{% include "navbar.html" %}

<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxcf22dfc606b84851aa80fef36db0a258"></script>
<script type="text/javascript">

    AOS.init();
    var map;
    var markerInfo;
    //출발지,도착지 마커
    var marker, marker_e, marker_p, marker_on, marker_off;
    //경로그림정보
    let resultdrawArr = [];
    let pointArr = [];

    var latitude;
    var longitude;

    function initTmap() {
        let initPoint;
        document.querySelector("#btn_select").addEventListener('click', (event) => {

            let user_type = document.querySelector("#user_type").value;

            let passenger_route = JSON.parse("{{passenger_route|escapejs}}");
            let passenger_path = JSON.parse("{{passenger_path}}");

            let bus_route = JSON.parse("{{bus_route}}");
            let viapoints = JSON.parse("{{viapoints|escapejs}}");

            if (resultdrawArr.length > 0) {
                for (var i in resultdrawArr) {
                    resultdrawArr[i]
                        .setMap(null);
                }
                resultdrawArr = [];
            }

            if (user_type === 'passenger') {
                passenger_path.forEach((route) => {
                    drawPedestrianRoute(route);
                })
                drawDriverRoute(bus_route);
            }
            else {
                drawDriverRoute(bus_route);
            }


            console.log(passenger_route);
            console.log(passenger_path);
            console.log(bus_route);
            console.log(viapoints);

            // //user 경로에 마커찍기
            // for(let i in pointArr){
            //     setMarker(pointArr[i].lat, pointArr[i].lon, i);
            // }
            map.setZoom(11);
            // 경로 리스트 지도 측면에 생성하기
        });

        // 지도 띄우기
        map = new Tmapv2.Map("map_div", {
            center: new Tmapv2.LatLng(37.39725123, 126.95650002),
            width: "500px",
            height: "400px",
            zoom: 15,
            zoomControl: true,
            scrollwheel: true,
            marginLeft: "100px"
        });
    }

    function drawPedestrianRoute(fullpath) {
        let drawInfo = [];
        fullpath.forEach((path, index) => {
            path.forEach((point) => {

                let latlng = new Tmapv2.LatLng(
                    point[1], point[0]);
                drawInfo.push(latlng);
            });
            drawLine(drawInfo, "#0000ff");
        });
    }

    function drawDriverRoute(fullpath) {
        let drawInfo = [];
        fullpath.forEach((path, index) => {
            path.forEach((point) => {

                let latlng = new Tmapv2.LatLng(
                    point[1], point[0]);
                drawInfo.push(latlng);
            });
            drawLine(drawInfo, "#ff0000");
        });
    }
    // 경로 그리기
    function drawLine(arrPoint, color) {
        var polyline_;

        polyline_ = new Tmapv2.Polyline({
            path: arrPoint,
            strokeColor: color,
            strokeWeight: 6,
            map: map
        });
        resultdrawArr.push(polyline_);
    }

    function setMarker(lat, lon, icon) {
        marker = new Tmapv2.Marker(
            {
                position: new Tmapv2.LatLng(lat, lon),
                icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_" + icon + ".png",
                iconSize: new Tmapv2.Size(24, 38),
                map: map
            });
    }
</script>
</head>

<style>
    .map_wrap {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        background-color: #FAFAFA;
    }
</style>
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">

            <body onload="initTmap();">

                <div class="ft_area">
                    <div class="ft_select_wrap">
                        <div class="ft_select">
                            <select id="selectLevel">
                                <option value="0" selected="selected">교통최적+추천</option>
                                <option value="1">교통최적+무료우선</option>
                                <option value="2">교통최적+최소시간</option>
                                <option value="3">교통최적+초보</option>
                                <option value="4">교통최적+고속도로우선</option>
                                <option value="10">최단거리+유/무료</option>
                                <option value="12">이륜차도로우선</option>
                                <option value="19">교통최적+어린이보호구역 회피</option>
                            </select> <select id="year">
                                <option value="N" selected="selected">교통정보 표출 옵션</option>
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                            <button id="btn_select">적용하기</button>
                            <select id="user_type">
                                <option value="passenger" selected="selected">승객</option>
                                <option value="driver">기사</option>
                            </select>
                        </div>
                    </div>
                </div>
            </body>
</section>

<div class="map_act_btn_wrap clear_box">
    <!-- 경로 리스트 -->
</div>
<div class="clear"></div>
</div>

<div id="map_wrap" class="map_wrap">
    <div id="map_div"></div>
</div>

{% for location in location_list %}
<span class="location_txt"> {{ location.altitude }} </span>
{% endfor %}

<div class="map_act_btn_wrap clear_box"></div>
<p id="result"></p>
<br />

{% include "footer.html" %}

{% endblock %}