<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">


    <div class="logo">
      <h1><a href="/">DoriDori</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar ms-auto">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/map">Map</a></li>
        <li><a class="nav-link scrollto" href="/board">Board</a></li>


{#        <li><a class="getstarted scrollto" href="#about">Log in</a></li>#}
        <li class="nav-item dropdown scrollto ">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Log in</a>
          <ul class="dropdown-menu">

            <li><a class="dropdown-item" href="/user/login">Log in</a></li>
            <li><a class="dropdown-item" href="/user/join">Sign up</a></li>
            <li><a class="dropdown-item" href="/user/logout">Log out</a></li>

          </ul>
        </li>


      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->